.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.create_post_button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: grey;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
}

.create_post_button:hover {
  background: #0a68d3;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.create_post_modal {
  background: #a0e1ed;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
